#getresponse-admin label {
  display: inline-block;
  width: 150px;
  font-weight: normal !important;
}
#getresponse-admin .description {
  display: inline;
}
#getresponse-admin .form-item {
  margin: 3px;
  padding: 0;
  margin-bottom: 10px;
}
#getresponse-admin input,
#getresponse-admin select {
  margin-right: 9px;
}
#getresponse-admin .gr-left-column {
  float: left;
  margin-right: 30px !important;
  width: 700px;
}
#getresponse-admin .gr-right-column {
  float: left;
  width: 400px;
}
#getresponse-admin #edit-actions {
  clear: left;
}
#edit-getresponse-webformid {
  width: 320px !important;
}
#edit-getresponse-comment-on {
  width: 126px !important;
}
#edit-getresponse-comment-campaign {
  width: 320px !important;
}
#edit-getresponse-register-campaign {
  width: 320px !important;
}
#edit-getresponse-styleid {
  width: 126px !important;
}
#edit-getresponse-comment-label {
  width: 314px !important;
}
#edit-getresponse-register-label {
  width: 314px !important;
}
#getresponse-admin .GR_rss_ul {
  list-style: square;
}
#getresponse-admin .GR_rss_li {
  margin-left: 15px;
}
#getresponse-admin .GR_img_webform_id {
  background: url("webform_id.jpg") no-repeat scroll 50% 50% transparent;
  height: 317px;
  margin: 0 auto;
}
#getresponse-admin .sprite {
  background: url("sprite.png") no-repeat scroll 0 0 transparent;
}
#getresponse-admin .GR_ico {
  color: #373737;
  height: 16px;
  padding: 0 0 4px 24px;
  width: 16px;
}
#getresponse-admin .facebook-ico {
  background-position: 0 -6px;
}
#getresponse-admin .twitter-ico {
  background-position: 0 -30px;
}
#getresponse-admin .linkedin-ico {
  background-position: 0 -54px;
}
#getresponse-admin  .blog-ico {
  background-position: 0 -78px;
}
#getresponse-admin .block-getresponse {
  border: 0 !important;
  padding: 0 !important;
}
#getresponse-admin .form-text, .form-select {
  font-size: 14px;
}
#getresponse-admin .form-type-checkbox {
  padding-bottom: 20px;
}
#getresponse-admin .form-type-checkbox label {
  float: left;
  width: 270px;
  display: block;
}
#getresponse-admin .form-type-checkbox input {

}
#getresponse-admin .hidden {
  display: none;
}
#getresponse-admin small {
  display: block;
  padding-left: 155px;
  opacity: .5;
}
#getresponse-admin #gr-disconnect-modal {
  position: fixed;
  width: 450px;
  height: 200px;
  text-align: center;
  overflow: auto;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
  padding: 15px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}
#getresponse-admin #gr-disconnect-modal p {
  margin: 20px;
}
#getresponse-admin #gr-disconnect-modal a {
  margin: 10px 30px;
}
#getresponse-admin #gr-disconnect-modal a.gr-red-btn {
  border: 1px solid #df0909;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
  font-family: arial, helvetica, sans-serif;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  display: inline-block;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  font-weight: bold;
  color: #FFFFFF;
  background-color: #f62b2b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f62b2b), to(#d20202));
  background-image: -webkit-linear-gradient(top, #f62b2b, #d20202);
  background-image: -moz-linear-gradient(top, #f62b2b, #d20202);
  background-image: -ms-linear-gradient(top, #f62b2b, #d20202);
  background-image: -o-linear-gradient(top, #f62b2b, #d20202);
  background-image: linear-gradient(to bottom, #f62b2b, #d20202);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f62b2b, endColorstr=#d20202);
}
#getresponse-admin #gr-disconnect-modal a.gr-red-btn:hover {
  border: 1px solid #b30808;
  background-color: #e40a0a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e40a0a), to(#9f0202));
  background-image: -webkit-linear-gradient(top, #e40a0a, #9f0202);
  background-image: -moz-linear-gradient(top, #e40a0a, #9f0202);
  background-image: -ms-linear-gradient(top, #e40a0a, #9f0202);
  background-image: -o-linear-gradient(top, #e40a0a, #9f0202);
  background-image: linear-gradient(to bottom, #e40a0a, #9f0202);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#e40a0a, endColorstr=#9f0202);
}
#getresponse-admin #gr-disconnect-modal a.gr-std-btn {
  border: 1px solid #d7dada;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
  font-family: arial, helvetica, sans-serif;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  display: inline-block;
  text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.3);
  font-weight: bold;
  color: #636363;
  background-color: #f4f5f5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
  background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f4f5f5, endColorstr=#dfdddd);
}
#getresponse-admin #gr-disconnect-modal a.gr-std-btn:hover {
  border: 1px solid #bfc4c4;
  background-color: #d9dddd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d9dddd), to(#c6c3c3));
  background-image: -webkit-linear-gradient(top, #d9dddd, #c6c3c3);
  background-image: -moz-linear-gradient(top, #d9dddd, #c6c3c3);
  background-image: -ms-linear-gradient(top, #d9dddd, #c6c3c3);
  background-image: -o-linear-gradient(top, #d9dddd, #c6c3c3);
  background-image: linear-gradient(to bottom, #d9dddd, #c6c3c3);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#d9dddd, endColorstr=#c6c3c3);
}
.gr-btn-disable {
  cursor: default !important;
  pointer-events: none;
  opacity: .5;
}

.gr-btn-display-none {
  display: none !important;
}

.gr-btn-display {
  display: inherit !important;
  clear: left;
}

fieldset .fieldset-legend {
  text-transform: none !important;
}